#my-reservations {
  margin-bottom: 120px;
}
.gttTableHeader {
  background-color: #c4c4c4;
  color: #6d6d6d;
  font-size: 14px;
  text-transform: uppercase;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#r-filters {
  padding: 30px;
  background-color: #f5f5f5;
  margin-bottom: 30px;
}
.filter-wrapper {
  margin-top: 15px;
}
.filter-title {
  font-size: 16px;
  font-family: "Helvetica Neue LT Std-Roman";
  color: #6d6d6d;
}
.filter-input input {
  width: 100%;
  border-radius: 5px;
  color: #212f3d;
  border: 1px solid #c4c4c4;
  padding: 10px;
}
#rfa {
  margin-top: 60px;
}
.gtt__multiselect {
  border: 1px solid #c4c4c4;
  color: #212f3d;
  border-radius: 5px;
}
.gtt__multiselect .multiselect__tags {
  border: none;
  /* padding-bottom: 10px; */
}
.gtt__multiselect .multiselect__placeholder {
  font-size: 16px;
  /* margin-bottom: 0; */
}
.r-table-success {
  background: #f1ffe6;
}
.r-table-danger {
  background: #ffefef;
}
.r-table-open {
  background: #ececff;
}
.r-table-close {
  background: #f5f5f5;
}
.r-table-pending {
  background: #fff6e0;
}
.r-table-success .estado {
  color: #307000;
}
.r-table-danger .estado {
  color: #ff0000;
}
.r-table-open .estado {
  color: #0000ff;
}
.r-table-close .estado {
  color: #212f3d;
}
.r-table-pending .estado {
  color: #c88d00;
}
tbody tr:hover {
  cursor: pointer;
}
