.rent-edit-list-item {
  width: 70vw;
}
.btn-close {
  background: transparent;
  color: #212f3d;
  border: none;
}
.list-wrapper {
  max-height: 50vh;
  overflow: scroll;
}
.info-item {
  margin-bottom: 10px;
}
.btn-cart {
  margin-right: 5px;
  width: 50px;
}
.children-wrapper {
  border-bottom: 1px solid #c4c4c4;
}
.item-children-header {
  padding-bottom: 5px;
  display: flex;
}
.item-children-content {
  padding-right: 60px;
  padding-left: 60px;
}
.item-children-content-info {
  padding-bottom: 30px;
}
.item-children-content-info p {
  margin-bottom: 5px;
}
.item-children-content pre {
  font-size: 16px;
  color: #6d6d6d;
  white-space: pre-wrap;
}
.item-children {
  /* display: flex; */
}
.item-children-name {
  margin-right: auto;
  color: #6d6d6d;
  font-size: 20px;
  width: 20%;
}
.item-children-section {
  color: #6d6d6d;
  font-size: 24px;
  display: flex;
}
.item-children-section-item {
  padding-right: 25px;
  align-self: center;
  font-size: 30px !important;
}
.item-children-section-icon {
  font-size: 30px !important;
  color: #212f3d;
}
.item-children-right-part {
  margin-left: auto;
  display: flex;
}
.item-children-price {
  padding-right: 60px;
  color: #6d6d6d;
  font-size: 24px;
}
.item-children-info-btn {
  font-size: 24px;
  color: #212f3d;
  padding-right: 20px;
}
.item-children-info-btn button {
  border: none;
  background-color: transparent;
}
.item-children-info-btn button:hover {
  cursor: pointer;
}
.item-children-info-btn button:focus {
  border: none;
  outline: none;
}
.item-children-name,
.item-children-section,
.item-children-price,
.item-children-info-btn {
  align-self: center;
}
.selected {
  color: #c4c4c4;
}
.item-children-reserve button {
  font-size: 24px;
}
.printer-button a {
  color: #212f3d;
}
.printer-button a:hover {
  color: #0056b3;
}
.divDisabled {
  pointer-events: none;
  color: #6d6d6d;
}
@media (max-width: 1440px) {
  .item-children-name {
    font-size: 16px;
    margin-right: auto;
    color: #6d6d6d;
    width: 20%;
  }
  .item-children-section {
    font-size: 18px;
  }
  .item-children-price {
    padding-right: 40px;
    color: #6d6d6d;
    font-size: 18px;
  }
  .item-children-info-btn {
    font-size: 16px;
    color: #212f3d;
    padding-right: 15px;
  }
  .item-children-reserve button {
    font-size: 16px;
  }
}
.payment-status {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.payment-status .mdi {
  font-size: 20px;
}
.payment-status .mdi-check-circle {
  color: #333;
}
.payment-status .mdi-alert-circle {
  color: #333;
}
.payment-status .mdi-information {
  color: #333;
}
.payment-status .mdi-account {
  color: #333;
}
.payment-status .mdi-calendar-week {
  color: #333;
}