@media(max-width: 1440px)
{
    .list-item-general{
        height: 200px;
    }
    .result-search-text-title{
        font-size: 24px;
    }
    .list-item-carousel{
        width: 40%;
        height: 100%;
    }
    .list-item-info{
        width: 50%;
    }
    .result-images-carousel{
        width: 100%;
        height: 100%;
    }
    .result-images-carousel img{
        object-fit: contain;
    }
    .item-name{
        font-size: 18px;
    }
    .item-provider img{
        height: 50px;
    }
    .iii-info-icon{
        font-size: 24px;
    }
    .iii-info-item{
        padding-right: 5px;
    }
    .price-wrapper{
        font-size: 14px;
        line-height: 1.2;
    }
    .price-wrapper .price{
        font-size: 30px;
    }
    .custom-padding-top{
        padding-top: 45px;
    }
    span.vue__time-picker{
        width: 25%;
        font-size: 12px;
    }
    .user-photo{
        font-size: 20px;
        width: 30px;
        height: 30px;
    }

    .fir{
        margin-top: 20px;
    }
    .reserve-title{
        font-size: 18px;
        margin-bottom: 15px;
    }
    .reserve-card .img-wrapper{
        height: 70px;
    }
    .reserve-card-item-name{
        font-size: 10px;
    }
    .reserve-total-to-pay{
        margin-top: 30px;
    }
    .total-to-pay-text{
        padding-right: 10px;
        font-size: 12px;
    }
    .font48{
        font-size: 36px;
    }
    .reserve-nav-text{
        position: relative;
        padding-top: 10px;
        font-size: 16px;
    }
    .create-order-step-title, .verify-step-title{
        font-size: 18px;
    }
    .reserveButton{
        width: auto;
    }
}